
  <div class="question_body">
    <div class="title">
      <%= @question.title %>
    </div>
    <div class="text">
      <%= @question.body %>
    </div>
  </div>
  <%= button_tag "Edit", data: { answer_id: @question.id }, class: "editQstBtn" %> 
  <section class="edit_question">
    <%= form_with model: @question, local: false do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body, cols: 100, rows: 5 %>
    </div>
    <%= form.submit 'Save' %>
    <% end %>
  </section>

