<style type="text/css">
  * {
     box-sizing: border-box;
}

.question {
    width:  50%;
   height:auto;
   padding:10px;
   margin-bottom: 10px;
}
.title {
   padding:10px;
   font-size: 20px;
   font-weight: bold;
   background-color:#2124;
   border:1px solid black;
   display: flex;
   justify-content: space-between;
}
.body {
   padding:10px;
   border:1px solid black;
}

.links {
    width: 100%;
    margin-right: 15px;
    text-align: right;
}

.links a {
  display: inline-block;
  margin: 5px;
}

.button_to {
  display: inline-block;
  border: none;
}
</style>

<h1>Questions</h1>

<%= link_to "New", new_question_path  %> 

<% @questions.each do |question| %>
  <section class="question">
    <div class="title">
      <div><%= question.title %></div>
      <div><%= question.author&.email %></div>
    </div>
    <div class="body">
      <%= question.body %>
    </div>
    <div class="links">
      <%= link_to "Show (#{question.answers.count} answers)...", question_path(question) %>
      <% if question.author == current_user %>
        <%= button_to "Delete", question_path(question), method: :delete %>
      <% end %>
    </div>
  </section>
<% end %>
