<style type="text/css">
  * {
     box-sizing: border-box;
}

.question {
    width:  50%;
   height:auto;
   padding:10px;
   margin-bottom: 10px;
}
.title {
   padding:10px;
   font-size: 24px;
   font-weight: bold;
   background-color:#2124;
   border:1px solid black;
}
.body {
   padding:10px;
   border:1px solid black;
}

h2 {
  margin: 0px;
}

.answers, .answer div {
  margin-left: 20px;
}

.answer {
  margin-top: 10px;
}

.answer_date {
  font-size: 12px;
  font-style: italic;
  color: grey;
}
</style>

<h1>Question #<%= @question.id %></h1>

  <article class="question">
    <div class="title">
      <%= @question.title %>
    </div>
    <div class="body">
      <%= @question.body %>
    </div>
  </article>

<% if current_user %>
  <section class="new_answer">
    <%= form_with model: [@question, @question.answers.new], local: true do |form| %>
      <div>
        <%= form.label 'New answer' %><br>
        <%= form.text_area :body, cols: 100, rows: 5 %>
      </div>
      <p>
        <%= form.submit 'Add answer' %>
      </p>
    <% end %>
  </section>
<% end %>

<section class="answers">
  <h2>Answers:</h2>
  <% @question.answers.each do |answer| %>
    <article class="answer"> 
      <div>
        <%= answer.body %>      
      </div>
      <div class="answer_date">
        <%= answer.created_at %>
      </div>
      <% if answer.author == current_user %>
        <%= button_to "Delete", question_answer_path(@question, answer), method: :delete %>
      <% end %>
    </article>
  <% end %>
</section>
