<style type="text/css">
  * {
     box-sizing: border-box;
}

.question, .edit_question {
  width: 50%;
  height: auto;
  padding:10px;
  margin-bottom: 10px;
}

.title {
  padding:10px;
  font-size: 24px;
  font-weight: bold;
  background-color:#2124;
  border:1px solid black;
}
.text {
  padding:10px;
  margin-bottom: 5px;
  border:1px solid black;
}

h2 {
  margin: 0px;
}

.answers, .answer div {
  margin-left: 20px;
}

.answer {
  margin-top: 10px;
}

.answer_date {
  font-size: 12px;
  font-style: italic;
  color: grey;
}

.edit_question {
  display: none;
}

.disable {
   pointer-events: none;
   cursor: default;
}
</style>

<h1>Question #<%= @question.id %></h1>

<article class="question">
  <%= render @question %>
</article>

<div>
  <% if current_user %>
    <section class="new_answer">
      <%= form_with model: [@question, @new_answer], local: false do |form| %>
        <div>
          <%= form.label 'New answer' %><br>
          <%= form.text_area :body, cols: 100, rows: 5 %>
        </div>
        <div>
          <%= form.label :files %><br>
          <%= form.file_field :files, multiple: true, direct_upload: true %>
        </div>
        </div>
          Links:
          <%= form.fields_for :links do |link| %><br>
            <div>
              <%= link.label :name %><br>
              <%= link.text_field :name %>
            </div>
            <div>
              <%= link.label :url %><br>
              <%= link.text_field :url %>
            </div>
          <% end %>
        </div>
        <p>
          <%= form.submit 'Add answer' %>
        </p>
      <% end %>
    </section>
  <% end %>

  <section class="answers">
    <h2>Answers:</h2>
    <%= render Question.answers_best_first(@question) %>
  </section>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    editQstBtn = document.querySelector(".editQstBtn");
    editQstBtn.addEventListener("click", () => {
        document.querySelector(".edit_question").style.display = "block";
        document.querySelector(".question_body").style.display = "none";
        document.querySelector(".editQstBtn").style.display = "none";
      });
  });
  document.addEventListener("ajax:success", (resp) => {
    jsonData = resp.detail[0];
    answer_section = document.getElementById(`answer_${jsonData.answer_id}`);
    answer_section.querySelector(".answer_likes").innerHTML = jsonData.html;
    answer_section.querySelector(".answer_rating").innerText = jsonData.rating;
  });
</script>
