<section id=<%= "edit_answer_#{@answer.id}" %>>
    <%= form_with model: [@answer.question, @answer], local: false do |form| %>
      <div>
        <%= form.text_area :body, cols: 100, rows: 5 %>
      </div>
      <div>
        <%= form.label :files %><br>
        <%= form.file_field :files, multiple: true, direct_upload: true %>
      </div>
        Links:
        <%= form.fields_for :links do |link| %><br>
          <div>
            <%= link.label :name %><br>
            <%= link.text_field :name %>
          </div>
          <div>
            <%= link.label :url %><br>
            <%= link.text_field :url %>
          </div>
        <% end %>
      </div>
      <p>
        <%= form.submit 'Save' %>
      </p>
    <% end %>
  </section>
  