<nav class="navbar">
  <div>
    <% if current_user %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %> |
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>
  </div>
  <div>
    <%= form_tag results_path, method: :get, role: 'search' do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Искать", name: nil %>
  </div>
<% end %>
</nav>