<!DOCTYPE html>
<html>
  <head>
    <title>QuestRoooms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <style>
    .controlBtn, .commentable {
      display: none;
    }
  </style>

  <body>
    <%= render 'layouts/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>          
    <%= yield %>
  </body>
</html>
